@import "tailwindcss";
@import "@nuxt/ui";

.UPageBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

.toc-right {
  position: sticky;
  top: 20px;
  width: 200px;
  margin-left: 20px;
  height: 100%;
  overflow-y: auto;
  flex-shrink: 0;
}

.content-area {
  flex-grow: 1;
  margin-right: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 5px;
}


/* Contenu de la doc */
 img.img-small {
  width: 400px;   
 
}  



